// Here you can add other styles
.form-control{
    width: 98%;
}
.border_ul{
    border-radius: 7px;
}
.linkto{
    text-decoration: none;
}
.form-select{
    width: 98%;
}
.cardform{
    padding: 20px;
}
.editicon{
    font-size: 22px;
}
.deleteicon{
    font-size: 22px;
}

.celltext{
    word-wrap: break-word;
}
.Link{
    text-decoration: none;
}